<div class="module-header">
  <div class="left">
      <h3>{{formTitulo}}</h3>
  </div>
  <div class="right">
      <button mat-raised-button color="primary" (click)="guardarSede()">
          Guardar
      </button>        
  </div>
</div>
<hr />
<div class="form-container">
  <form class="form" [formGroup]="sedeForm">
    <mat-form-field>
      <mat-label>Nombre:</mat-label>
      <input matInput type="text" formControlName="nombresede">
      <mat-error *ngIf="nombreSedeError">{{ nombreSedeError }}</mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Información:</mat-label>
      <input matInput type="text" formControlName="sedeinfo">
    </mat-form-field>
    
    <div class="form-group">
      <label>Días de Operación:</label>
      <mat-checkbox formControlName="lunes">Lunes</mat-checkbox>
      <mat-checkbox formControlName="martes">Martes</mat-checkbox>
      <mat-checkbox formControlName="miercoles">Miércoles</mat-checkbox>
      <mat-checkbox formControlName="jueves">Jueves</mat-checkbox>
      <mat-checkbox formControlName="viernes">Viernes</mat-checkbox>
      <mat-checkbox formControlName="sabado">Sábado</mat-checkbox>
      <mat-checkbox formControlName="domingo">Domingo</mat-checkbox>
    </div>

    <mat-form-field>
      <mat-label>Hora de Apertura:</mat-label>
      <input matInput type="time" formControlName="horaabierto">
      <mat-error *ngIf="horaAbiertoError">{{ horaAbiertoError }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Hora de Cierre:</mat-label>
      <input matInput type="time" formControlName="horacierre">
      <mat-error *ngIf="horaCierreError">{{ horaCierreError }}</mat-error>
    </mat-form-field>
  </form>
</div>
