body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

mat-toolbar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

mat-toolbar span {
  font-size: 24px;
}

button.mat-flat-button {
  color: white;
  background-color: #000000;
  margin-right: 10px;
}

button.mat-flat-button:hover {
  background-color: #323438;
}

button.mat-icon-button {
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

.main-content {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

.feed {
  background-color: white;
  width: 800px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(255, 0, 0, 0.1);
}
