<table mat-table [dataSource]="cliente" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="clienteid">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.clienteid}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
    <!-- Apellido Column -->
    <ng-container matColumnDef="apellido">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
    </ng-container>
  
    <!-- Tipo Documento Column -->
    <ng-container matColumnDef="tipodocumento">
      <th mat-header-cell *matHeaderCellDef> Tipo Documento </th>
      <td mat-cell *matCellDef="let element"> {{element.tipodocumento}} </td>
    </ng-container>

    <!-- Numero Documento Column -->
    <ng-container matColumnDef="numerodocumento">
        <th mat-header-cell *matHeaderCellDef> Numero Documento </th>
        <td mat-cell *matCellDef="let element"> {{element.numerodocumento}} </td>
      </ng-container>

      <!-- telefono Column -->
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef> Telefono </th>
        <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
      </ng-container>
      
      <!-- direccion Column -->
      <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef> Direcion</th>
        <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
      </ng-container>
      
      <!-- Estado Column -->
      <ng-container matColumnDef="estadocliente">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.estadocliente}} </td>
      </ng-container>      
      
    <!-- Header Row -->    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Data Rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  